<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- MDB -->
    <title>{{title}}</title>
    <link rel="stylesheet" href="./ParkerMDB/css/bootstrap.css">
    <link rel="stylesheet" href="./ParkerMDB/css/mdb.css">
    <link rel="stylesheet" href="./ParkerMDB/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
    <!-- Team Styles -->
    <link rel="stylesheet" href="/stylesheets/Css/style.css">
    <link rel="stylesheet" href={{css}}>
    <!-- MDB -->
    <script src="./ParkerMDB/js/popper.min.js"></script>
    <script src="./ParkerMDB/js/jquery-3.3.1.min.js"></script>
    <script src="./ParkerMDB/js/bootstrap.js"></script>
    <script src="./ParkerMDB/js/mdb.js"></script>
</head>

<body>


  {{{ body }}}

  

<!-- Team Scripts -->

</body>

{{{JS}}}



</html>