        <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark peach-gradient lighten-4">
        <a class="navbar-brand" href="/Snapshot">Bare Bones Budget</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555" aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/UserSetUpBudget">Manage Budget
                        <span class="sr-only">(current)</span>
                      </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/SnapShot">SnapShot</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/AboutUs">About</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" id="Logout" type="button" href="/logout">
                        Log Out
                    </a>
                {{!-- </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light">1
                        <i class="fas fa-envelope"></i>
                      </a>
                </li> --}}
                <li class="nav-item avatar dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="./stylesheets/assets/images/BBB.jpg" class="rounded-circle z-depth-0" alt="avatar image">
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!--/.Navbar -->

<br>
<div class="container">
    <!-- User Avatar and Allowance -->
    <div class="row">
        {{!-- <div class="col-2"></div> --}}
        <div class="col">
            <!-- Card -->
            <div class="card testimonial-card">

                <!-- Background color -->
                <div class="card-up peach-gradient lighten-1"></div>

                <!-- Avatar -->
                <div class="avatar mx-auto white">
                    <img src="./stylesheets/assets/images/BBB.jpg" class="rounded-circle"
                        alt="avatar">
                </div>

                <!-- Content -->
                <div class="card-body">
                    <!-- Name -->
                    <h4 class="card-title">John Smith</h4>
                    <hr>
                    <!-- Quotation -->
                    <p><i class=""></i> Starting Amount: $5000</p>
                    {{!-- <p><i class=""></i> Current Amount: $2500</p> --}}

                </div>

            </div>
            <!-- Card -->
        </div>
        <div class="col">
            <canvas id="pieChart"></canvas>
        </div>

        {{!-- <div class="col-2"></div> --}}
    </div>
    <!-- ./User Avatar and Montly Allowance -->

    <br>

</div>
<br>
<hr>
<!-- Spending Cats -->
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Spending By Category:</h1>

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <!-- Card deck -->
            <div class="card-deck">

                <!-- Card -->
                <div class="card mb-4">

                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top" src="./stylesheets/assets/images/Travel.jpg" alt="Card image cap">
                        <a href="/MoreCatInfo1">
                            <div class="mask img-gradient Travel"></div>

                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title">Travel</h4>
                        <!--Text-->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->


                    </div>

                </div>
                <!-- Card -->

                <!-- Card -->
                <div class="card mb-4">

                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top" src="./stylesheets/assets/images/Food&Drink.jpg" alt="Card image cap">
                        <a href="/MoreCatInfo2">
                            <div class="mask img-gradient FoodDrink"></div>

                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title">Food & Drink</h4>
                        <!--Text-->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->


                    </div>

                </div>
                <!-- Card -->

                <!-- Card -->
                <div class="card mb-4">

                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top" src="./stylesheets/assets/images/TransportationGas.jpeg"
                            alt="Card image cap">
                        <a href="/MoreCatInfo3">
                            <div class="mask img-gradient Transportation"></div>

                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title">Transportation</h4>
                        <!--Text-->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->


                    </div>

                </div>
                <!-- Card -->

            </div>
            <!-- Card deck -->
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- Card deck -->
            <div class="card-deck">

                <!-- Card -->
                <div class="card mb-4">

                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top" src="./stylesheets/assets/images/Services.png" alt="Card image cap">
                        <a href="/MoreCatInfo4">
                            <div class="mask img-gradient Services"></div>

                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title">Services</h4>
                        <!--Text-->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->


                    </div>

                </div>
                <!-- Card -->

                <!-- Card -->
                <div class="card mb-4">

                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top" src="./stylesheets/assets/images/Shopping.jpg" alt="Card image cap">
                        <a href="/MoreCatInfo5">
                            <div class="mask img-gradient Misc"></div>

                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title">Misc.</h4>
                        <!--Text-->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->

                    </div>

                </div>
                <!-- Card -->

                <!-- Card -->
                <div class="card mb-4">

                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top" src="./stylesheets/assets/images/Health.jpg" alt="Card image cap">
                        <a href="/MoreCatInfo6">
                            <div class="mask img-gradient Health"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title">Health</h4>
                        <!--Text-->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->


                    </div>

                </div>
                <!-- Card -->

            </div>
            <!-- Card deck -->
        </div>
    </div>
</div>
<!-- ./Spending Cats -->

<script src="/JS/Indexpage.js"></script>