        <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark peach-gradient lighten-4">
        <a class="navbar-brand" href="/Snapshot">Bare Bones Budget</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555" aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/UserSetUpBudget">Manage Budget
                        <span class="sr-only">(current)</span>
                      </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/SnapShot">SnapShot</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/AboutUs">About</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="/">
                        Log Out
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light">
                        <i class="fas fa-envelope"></i>
                      </a>
                </li>
                <li class="nav-item avatar dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="./stylesheets/assets/images/BBB.jpg" class="rounded-circle z-depth-0" alt="avatar image">
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!--/.Navbar -->

    <br>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Steps:</h1>
            </div>
        </div>
        <hr>
        <!-- Steps -->
        <div class="row">
            <div class="col">

                <p>Step 1: Enter In Your Monthly Income</p>

                <p>Step 2: Click The Save Button</p>

                <p>Step 3: Click A Category</p>

                <p>Step 4: Enter In The Name </p>

                <p>Step 5: Enter In The Price Per Month</p>

                <p>Step 6: Click Add</p>
            </div>
        </div>
        <!-- ./Steps -->

        <br>
        <!-- Income Form -->
        <div class="row">
            <div class="col-12">
                <form class="md-form">
                    <div class="file-field big-2">
                        <!-- Button for Saving User Income -->
                        <button class="btn btn-lg btn-rounded peach-gradient">Save</button>
                        <!-- ./Button for Saving User Income -->

                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Your Monthly Income">
                        </div>
                    </div>
                </form>


            </div>
        </div>
        <!-- ./Income Form -->

<br>
        <!-- Buttons for Cats -->
<div class="row">
            <div class="col-2"></div>
            <div class="col"> <button class="btn btn-rounded btn-lg aqua-gradient btn-cat" data-toggle="modal" data-target="#CatModal" data-cat="1">Travel</button></div>
            <div class="col"> <button class="btn btn-lg btn-rounded peach-gradient btn-cat" data-toggle="modal" data-target="#CatModal" data-cat="2"> Food & Drink</button></div>
            <div class="col"> <button class="btn btn-lg btn-rounded blue-gradient btn-cat" data-toggle="modal" data-target="#CatModal" data-cat="3">Transportation</button></div>
        </div>
        <br>
        <div class="row">
            <div class="col-2"></div>
            <div class="col"> <button class="btn btn-lg btn-rounded purple-gradient btn-cat" data-toggle="modal" data-target="#CatModal" data-cat="4">Services</button></div>
            <div class="col"> <button class="btn btn-lg btn-rounded Shopping btn-cat" data-toggle="modal" data-target="#CatModal" data-cat="5">Misc</button></div>
            <div class="col"> <button class="btn btn-lg btn-rounded Healths btn-cat" data-toggle="modal" data-target="#CatModal" data-cat="6">Health</button></div>
        </div>

        <!-- ./Buttons for Cats -->
        <br>



    </div>

    <!-- Modal -->
    <div class="modal fade" id="CatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <form>
                    <!-- Line for Name -->
                    <div class="md-form input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text md-addon" id="inputGroupMaterial-sizing-lg">Name</span>
                        </div>
                        <input id="desc" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroupMaterial-sizing-lg">
                    </div>
                    <!-- ./Line for Name -->
                    <!-- Line For Price -->
                    <div class="md-form input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text md-addon" id="inputGroupMaterial-sizing-lg">Price</span>
                        </div>
                        <input id="amount" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroupMaterial-sizing-lg">
                    </div>
                    <!-- ./Line For Price -->
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Add" class="btn btn-rounded AddBtn">
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- ./Modal -->

<script src="./JS/UserSetUpBudget.js"></script>
